<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Hibernate Properties - Connection Properties -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/HibernateTutorial</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
    <!-- Hibernate properties - SQL Properties -->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.use_sql_comments">false</property>
    <property name="hibernate.format_sql">false</property>
    <!-- Hibernate properties - Session Configuration -->
    <property name="hibernate.current_session_context_class">thread</property>
    <!-- Hibernate properties - database schema generator -->
    <property name="hibernate.hbm2ddl.auto">create-drop</property>
    <!-- Hibernate properties - Connection Pool Management -->
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.idle_test_period">3000</property>
    <property name="hibernate.c3p0.timeout">300</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <mapping resource="pl/edu/agh/hibernate/hbm/bookTests/HibernateTypeSystemClass.hbm.xml"/>
    <mapping resource="pl/edu/agh/hibernate/hbm/bookTests/HibernateTypeSystemClassQueries.xml"/>
    <mapping resource="pl/edu/agh/hibernate/hbm/bookTests/CollectionMappings.hbm.xml"/>
    <mapping resource="pl/edu/agh/hibernate/hbm/bookTests/Bid.hbm.xml"/>
    <mapping resource="pl/edu/agh/hibernate/hbm/bookTests/Item.hbm.xml"/>
    <mapping resource="pl/edu/agh/hibernate/hbm/bookTests/Address.hbm.xml"/>
    <mapping resource="pl/edu/agh/hibernate/hbm/bookTests/UserAccount.hbm.xml"/>
    <mapping resource="pl/edu/agh/hibernate/hbm/bookTests/Shipment.hbm.xml"/>
    <mapping resource="pl/edu/agh/hibernate/hbm/bookTests/Category.hbm.xml"/>
    <mapping resource="pl/edu/agh/hibernate/hbm/bookTests/CategoryItemJoin.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
